<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head th:replace="fragments/head.html :: cli_head_block(~{::title})">
	<title>eshop | cataloge</title>
</head>

<!-- <body id="category" onload="setPriceRange()"> -->
	<body id="category">

	<!-- Start Header Area -->
	<header  th:replace="fragments/header.html :: cli_header_block(${'shop'})" class="header_area sticky-header"></header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Products</h1>
					<nav class="d-flex align-items-center">
						<a th:href="@{/}">Home<span class="lnr lnr-arrow-right"></span></a>							
						<a th:href="@{/shop}">Catalogue</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">

	<!-- Categories -->
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>

					<ul class="main-categories">
						<li th:each="cat, iterStat : ${cats}" 
							th:with="cat_code = 'par_' + ${iterStat.index}" 
							class="main-nav-list">

							<a th:if="${cat.children} == null" href="#">[[${cat.name}]]<span class="number">([[${cat.productsCount}]])</span></a>							
							<a th:if="${cat.children} != null" data-toggle="collapse" th:href="'#' + ${cat_code}" aria-expanded="false" th:aria-controls="${cat_code}"><span class="lnr lnr-arrow-right"></span>[[${cat.name}]]<span class="number">([[${cat.productsCount}]])</span></a>
							<ul th:if="${cat.children} != null" class="collapse" th:id="${cat_code}" data-toggle="collapse" aria-expanded="false" th:aria-controls="${cat_code}">
								<li th:each="child_cat : ${cat.children}" class="main-nav-list child"><a th:href="@{/shop/category/{id}(id=${child_cat.id})}">[[${child_cat.name}]]<span class="number">([[${child_cat.productsCount}]])</span></a></li>
							</ul>
						</li>
				
					</ul>
				</div>
	<!-- Filters -->				

				
				<form id="resetFilterForm" th:action="@{/shop/reset}" method="GET"></form>

				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="head">Price</div>
						<div class="price-range-area">
							<div id="price-range-custom"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Price:</div>								
								<div id="lower-value"></div>
								<span>р</span>
								<div class="to">to</div>								
								<div id="upper-value"></div>
								<span>р</span>
							</div>
						</div>
					</div>
					<div class="common-filter">
						<div class="head">Brands</div>
						<form action="#">
							<ul>
								<li th:each="brand : ${brands}" class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus" th:text="${brand.name} + ' (' + ${brand.total} + ')'"></label></li>
							</ul>
						</form>
					</div>					
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				
				<!-- Start Filter Bar -->
				<div  th:replace="fragments/filter.html :: filter_block(${filter}, ${products.getTotalPages()}, 1)" class="filter-bar d-flex flex-wrap align-items-center"></div>
				<!-- End Filter Bar -->

				<!-- Product items -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">

						<div th:if="${products.hasContent()}" 
								th:each="prod: ${products.getContent()}" class="col-lg-4 col-md-6">

							<div class="single-product"
								th:with="image = ${prod.getPrimaryImage()}">

								<a th:href="@{/shop/product/{id}(id=${prod.id})}">
									<img th:if="${image} == null" class="img-fluid" th:src="@{/img/} + ${default_image_name}" alt="No image provided">
									<img class="img-fluid" 
										th:if="${image} != null" 									
										th:src="@{/image/download/{id}(id=${image.id})}" 
										th:alt="${image.description} ? image.description : 'No description provided'"
											width="255px">
								</a>

								<div class="product-details">
									<a th:href="@{/shop/product/{id}(id=${prod.id})}" class="title" th:text="${prod.name}"></a>
									<div class="price">
										<h6 th:text="${#numbers.formatDecimal(prod.price, 0, 'COMMA', 2, 'POINT')} + ' руб.'"></h6>
										<h6 th:if="${prod.oldPrice} != null" 
											th:text="${#numbers.formatDecimal(prod.oldPrice, 0, 'COMMA', 2, 'POINT')} + ' руб.'"
											class="l-through"></h6>
									</div>
									<div class="prd-bottom">

										<a th:href="@{/cart/{id}/add(id=${prod.id})}" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div  th:replace="fragments/filter.html :: filter_block(${filter}, ${products.getTotalPages()}, 2)" class="filter-bar d-flex flex-wrap align-items-center"></div>
				<!-- End Filter Bar -->
			
			</div>
		</div>
	</div>

	<section class="section_gap">

	<!-- start footer Area -->
	<footer th:replace="fragments/footer.html :: cli_footer_block"></footer>
	<!-- End footer Area -->

	<div th:replace="fragments/scripts.html :: cli_scripts_block"></div>

	<script>
		$(function(){

			if(document.getElementById("price-range-custom")){

			var nonLinearSlider = document.getElementById('price-range-custom');

			noUiSlider.create(nonLinearSlider, {
				connect: true,
				behaviour: 'tap',
				start: [ [[${filter.minPrice}]], [[${filter.maxPrice}]] ],
				range: {
					// Starting at 500, step the value by 500,
					// until 4000 is reached. From there, step by 1000.
					'min': [ [[${default_minprice}]] ],
					'10%': [ 5000, 10 ],
					'50%': [ 25000, 500 ],
					'max': [ [[${default_maxprice}]] ]
				}
			});


			var nodes = [
				document.getElementById('lower-value'), // 0
				document.getElementById('upper-value')  // 1
			];

			var minPriceInput = document.getElementById('price_min'),
				maxPriceInput = document.getElementById('price_max');

			// Display the slider value and how far the handle moved
			// from the left edge of the slider.
			nonLinearSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
				nodes[handle].innerHTML = values[handle];

				if ( handle ) {
					maxPriceInput.value = values[handle];
				} else {
					minPriceInput.value = values[handle];
				}
			});

			}

		});
	</script>
</body>

</html>