<!DOCTYPE html>
<html lang="zxx" class="no-js">

	<head th:replace="fragments/head.html :: cli_head_block(~{::title})">
		<title>eshop | login</title>
	</head>

<body>

	<!-- Start Header Area -->
	<header  th:replace="fragments/header.html :: cli_header_block(${'login'})" class="header_area sticky-header"></header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login</h1>
					<nav class="d-flex align-items-center">
						<a th:href="@{/}">Home<span class="lnr lnr-arrow-right"></span></a>							
						<a th:href="@{/login}">Login</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" th:src="@{/img/login.jpg}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" th:href="@{/register}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" th:action="@{/login}" method="POST">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div th:if="${param.error}" class="col-md-12 form-group is-invalid">
                                Invalid username or password
                            </div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->
	<footer th:replace="fragments/footer.html :: cli_footer_block"></footer>
	<!-- End footer Area -->


	<div th:replace="fragments/scripts.html :: cli_scripts_block"></div>

</body>

</html>