<!doctype html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:fragment="cli_head_block(title)">
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="@{/img/fav.png}">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title th:replace="${title}">Title</title>
        <!--
            CSS
            ============================================= -->
        <link rel="stylesheet" th:href="@{/css/linearicons.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/themify-icons.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/nouislider.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/ion.rangeSlider.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/ion.rangeSlider.skinFlat.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    </head>
</html>