<!doctype html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:fragment="common_head_block(title)">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Common styles and scripts -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/datatables.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}" type="text/css">    
        <link rel="stylesheet" th:href="@{/css/bootadmin.css}" type="text/css">

        <!-- JS here -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.js}"></script>
        <script th:src="@{/js/datatables.min.js}"></script>
        <script th:src="@{/js/bootadmin.min.js}"></script>
        <script th:src="@{/js/bootadmin.js}"></script>

        <title th:replace="${title}">title</title>

    </head>
</html>