<!doctype html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    

    <div th:fragment="common_left_menu_block(page, parent)" class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li>
                <a href="#" th:href="@{/users}" th:classappend="${page == 'Users'} ? 'active'">Users</a>                
            </li>
            <li>
                <a href="#sm_expand_content" data-toggle="collapse" th:aria-expanded="${parent == 'Content'} ? 'true' : 'false'">
                    Content
                </a>
                <ul id="sm_expand_content" class="list-unstyled collapse" th:classappend="${parent == 'Content'} ? 'show'">
                    <li><a href="#" th:href="@{/categories}" th:classappend="${page == 'Categories'} ? 'active'">Categories</a></li>
                    <li><a href="#" th:href="@{/brands}" th:classappend="${page == 'Brands'} ? 'active'">Brands</a></li>
                    <li><a href="#" th:href="@{/products}" th:classappend="${page == 'Products'} ? 'active'">Products</a></li>
                </ul>
            </li>
        </ul>
    </div>

</html>