<!doctype html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
    <table th:fragment="users_table_block(users)" id="userstable" class="table table-hover" cellspacing="0" width="100%">
        <thead>                        
            <tr>
                <th>##</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${users.empty}">
                <td colspan="9"> No Users Available </td>
            </tr>
            <tr th:each="user, iterStat : ${users}">
                <td th:text="${iterStat.index} + 1">#</td>
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.middleName}">Middle Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td th:text="${user.phone}">Phone</td>
                <td th:text="${user.email}">Email</td>
                <td th:if="${user.isBlocked} == false"><span class="badge badge-success">active</span></td>
                <td th:if="${user.isBlocked} == true"><span class="badge badge-danger">blocked</span></td>
                <td>
                    <a th:if="${user.isBlocked} == false" href="#" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Block user"><i class="fa fa-fw fa-lock"></i></a>
                    <a th:if="${user.isBlocked} == true" href="#" class="btn btn-icon btn-pill btn-success" data-toggle="tooltip" title="Activate user"><i class="fa fa-fw fa-lock-open"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</html>